<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Luke Skywalker</string>
	<key>height</key>
	<string>172</string>
	<key>mass</key>
	<string>77</string>
	<key>hair_color</key>
	<string>blonde</string>
	<key>eye_color</key>
	<string>blue</string>
	<key>skin_color</key>
	<string>fair</string>
	<key>birth_year</key>
	<string>19BBY</string>
	<key>gender</key>
	<string>male</string>
	<key>homeworld</key>
	<dict>
		<key>name</key>
		<string>Tatooine</string>
		<key>rotation_period</key>
		<string>23</string>
		<key>orbital_period</key>
		<string>304</string>
		<key>diameter</key>
		<string>10465</string>
		<key>climate</key>
		<string>arid</string>
		<key>gravity</key>
		<string>1 standard</string>
		<key>terrain</key>
		<string>desert</string>
		<key>surface_water</key>
		<string>1</string>
		<key>population</key>
		<string>200000</string>
		<key>residents</key>
		<array/>
		<key>films</key>
		<array/>
		<key>edited</key>
		<string>2014-12-20T21:17:56.891000Z</string>
	</dict>
	<key>films</key>
	<array>
		<dict>
			<key>title</key>
			<string>A New Hope</string>
			<key>episode_id</key>
			<string>4</string>
			<key>opening_crawl</key>
			<string>It is a period of civil war.\r\nRebel spaceships, striking\r\nfrom a hidden base, have won\r\ntheir first victory against\r\nthe evil Galactic Empire.\r\n\r\nDuring the battle, Rebel\r\nspies managed to steal secret\r\nplans to the Empire&apos;s\r\nultimate weapon, the DEATH\r\nSTAR, an armored space\r\nstation with enough power\r\nto destroy an entire planet.\r\n\r\nPursued by the Empire&apos;s\r\nsinister agents, Princess\r\nLeia races home aboard her\r\nstarship, custodian of the\r\nstolen plans that can save her\r\npeople and restore\r\nfreedom to the galaxy....</string>
			<key>director</key>
			<string>George Lucas</string>
			<key>producer</key>
			<string>Gary Kurtz, Rick McCallum</string>
			<key>release_date</key>
			<string>1977-05-25</string>
			<key>edited</key>
			<string>2014-12-20T21:17:56.891000Z</string>
		</dict>
	</array>
	<key>species</key>
	<array>
		<dict>
			<key>name</key>
			<string>Human</string>
			<key>classification</key>
			<string>mammal</string>
			<key>designation</key>
			<string>sentient</string>
			<key>average_height</key>
			<string>180</string>
			<key>skin_colors</key>
			<string>caucasian, black, hispanic, asian</string>
			<key>hair_colors</key>
			<string>black, blonde, red, brown</string>
			<key>eye_colors</key>
			<string>brown, blue, green, hazel, grey, amber</string>
			<key>average_lifespan</key>
			<string>120</string>
			<key>homeworld</key>
			<dict>
				<key>name</key>
				<string>Coruscant</string>
				<key>rotation_period</key>
				<string>24</string>
				<key>orbital_period</key>
				<string>368</string>
				<key>diameter</key>
				<string>12240</string>
				<key>climate</key>
				<string>temperate</string>
				<key>gravity</key>
				<string>1 standard</string>
				<key>terrain</key>
				<string>cityscape, mountains</string>
				<key>surface_water</key>
				<string>unknown</string>
				<key>population</key>
				<string>1000000000000</string>
				<key>residents</key>
				<array/>
				<key>films</key>
				<array/>
				<key>edited</key>
				<string>2014-12-20T21:17:56.891000Z</string>
			</dict>
			<key>language</key>
			<string>Galactic Basic</string>
			<key>edited</key>
			<string>2015-04-17T06:59:55.850671Z</string>
		</dict>
	</array>
	<key>vehicles</key>
	<array>
		<dict>
			<key>name</key>
			<string>Imperial Speeder Bike</string>
			<key>model</key>
			<string>74-Z speeder bike</string>
			<key>manufacturer</key>
			<string>Aratech Repulsor Company</string>
			<key>cost_in_credits</key>
			<string>8000</string>
			<key>length</key>
			<string>3</string>
			<key>max_atmosphering_speed</key>
			<string>360</string>
			<key>crew</key>
			<string>1</string>
			<key>passengers</key>
			<string>1</string>
			<key>cargo_capacity</key>
			<string>4</string>
			<key>consumables</key>
			<string>1 day</string>
			<key>vehicle_class</key>
			<string>speeder</string>
			<key>edited</key>
			<string>2014-12-22T18:21:15.920537Z</string>
		</dict>
	</array>
	<key>starships</key>
	<array>
		<dict>
			<key>name</key>
			<string>X-Wing</string>
			<key>model</key>
			<string>T-65 X-wing</string>
			<key>manufacturer</key>
			<string>Incom Corporation</string>
			<key>cost_in_credits</key>
			<string>149999</string>
			<key>length</key>
			<string>12.5</string>
			<key>max_atmosphering_speed</key>
			<string>1050</string>
			<key>crew</key>
			<string>1</string>
			<key>passengers</key>
			<string>0</string>
			<key>cargo_capacity</key>
			<string>110</string>
			<key>consumables</key>
			<string>1 week</string>
			<key>hyperdrive_rating</key>
			<string>1.0</string>
			<key>MGLT</key>
			<string>100</string>
			<key>starship_class</key>
			<string>Starfighter</string>
			<key>edited</key>
			<string>2014-12-22T17:35:44.491233Z</string>
		</dict>
	</array>
	<key>edited</key>
	<string>2014-12-20T21:17:56.891000Z</string>
</dict>
</plist>
